.idea
.vscode

# Ignorar pastas do Windows
Ambiente de Impressão/
Ambiente de Rede/
Configurações Locais/
Cookies/
NTUSER.*
*.exe
*.msi
*.bin

# Ignorar pastas específicas
Downloads/
AppData/

.vscode/
.android/
